<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="A simple weather app built with Flask.">

    <meta property="og:title" content="Weather">
    <meta property="og:description" content="A simple weather app built with Flask.">
    <meta property="og:image" content="https://abohawa-58vo.onrender.com/static/images/opimage.png">
    <meta property="og:url" content="https://abohawa-58vo.onrender.com/">
    <meta property="og:type" content="website">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="1200">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/weather.png') }}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    
    <title>ABOHAWA - Get Your Daily Weather Forecast</title>
</head>
<body>
    <heading>
        <div id="logo">
            <h1 id="home">ABOHAWA</h1>
            <p>Get Your Daily Weather Forecast</p>
        </div>
    </heading>
    <hr id="upper">
    <nav>
        <div id="link">
            <a href="#home">HOME</a>
            <a href="#about">ABOUT</a>
        </div>
        <div id="search-container">
            <div>
                <img src="../static/images/search.png" alt="search">
                <input type="search" name="search" id="search" placeholder="Search">
            </div>
            <div id="suggestions"></div>
        </div>
    </nav>
    <hr id="lower">
    <main id="home">
        <section id="weather"></section>
        <section id="g">
            <div id="greet">
                <p>Welcome to <strong>ABOHAWA</strong></p>
                <p>Your go-to weather app for accurate and up-to-date forecasts. 
                Whether you're planning your day or just curious about the weather, 
                ABOHAWA has you covered with real-time data and a user-friendly interface.</p> 
                <p>Simply enter your location in the search bar to get started and stay informed about the weather conditions in your area.</p>
            </div>
        </section>
        <section id="about">
            <h3>ABOUT</h3>
            <p>ABOHAWA is a simple and efficient weather app built with Flask. It provides users with accurate and up-to-date weather forecasts for any location around the world.</p>
            <p>It's made with ❤️ by Ranajit Mitra.</p>
            <p>Feel free to connect with me on social media:</p>
            <div>
                <a href="https://github.com/Ranajit08/" target="_blank"><img src="../static/images/github.png" alt="Github"></a>
                <a href="https://www.linkedin.com/in/ranajit-mitra-1bb0342b2" target="_blank"><img src="../static/images/linkedin.png" alt="Linkdin"></a>
                <a href="mailto:ranajitmitra17@gmail.com" target="_blank"><img src="../static/images/gmail.png" alt="Gmail"></a>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; <span id="l">Abohawa</span> • Made by <span id="name">Ranajit Mitra</span></p>
        <p>Weather data provided by <a href="https://www.weatherapi.com/" target="_blank">WeatherAPI</a> and <a href="https://photon.komoot.io/" target="_blank">Photon</a> for getting longitude and latitude.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>