<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Weather">
    <meta property="og:description" content="A simple weather app built with Flask.">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="description" content="A simple weather app built with Flask.">
    <title>Abohawa - Get Your Daily Weather Forecast</title>
</head>
<body>
    <heading>
        <div id="logo">
            <h1>Abohawa</h1>
            <p>Get Your Daily Weather Forecast</p>
        </div>
    </heading>
    <hr>
    <nav>
        <input type="search" name="search" id="search">
    </nav>
    <main>

    </main>
    <hr>
    <footer>
        <p>&copy; 2026 Abohawa • Made by Ranajit Mitra</p>
        <p>Weather data provided by <a href="https://www.weatherapi.com/" target="_blank">WeatherAPI</a> and <a href="https://photon.komoot.io/" target="_blank">Photon</a> for getting longitude and latitude</p>
        <a href="">About me</a>
    </footer>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>